n8n/agent-workflow.json
{
  "name": "Autocar Location - Agent (1 LLM)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "neotravel",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        0
      ],
      "webhookId": "neotravel"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=A partir de la conversation ci-dessous, extrais les parametres du devis en JSON STRICT et RIEN d'autre (aucun texte autour). Date du jour : {{ new Date().toISOString().substring(0,10) }}. Pour date_depart, si l'annee n'est pas precisee, choisis la prochaine date FUTURE correspondante (jamais une date passee). Si une information requise manque, mets sa valeur a null. Estime distance_km (distance routiere approximative en km entre la ville de depart et la destination). Les cles attendues : nb_passagers (entier ou null), date_depart (format AAAA-MM-JJ ou null), date_retour (format AAAA-MM-JJ ou null, uniquement si un aller-retour avec date de retour est precise), aller_retour (true ou false), distance_km (nombre ou null), options (liste parmi guide, nuit_chauffeur, peages), depart (ville ou null), destination (ville ou null), email (ou null), nom (ou null). Conversation :\\n{{ $('Webhook').item.json.body.history.map(m => (m.role === 'user' ? 'Client' : 'Assistant') + ': ' + m.content).join('\\n') }}",
        "options": {
          "systemMessage": "Tu es un module d'extraction silencieux. Tu reponds UNIQUEMENT par un objet JSON valide, sans aucun autre texte ni explication. Si une information manque, mets sa valeur a null."
        }
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Extraction params",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        40,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "modelName": "models/gemma-4-31b-it",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Gemini (extraction)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        40,
        220
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "REMPLACE_PAR_TA_CREDENTIAL",
          "name": "Google Gemini"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1) Recupere le texte du modele d'extraction\nconst raw = String($input.first().json.text ?? $input.first().json.output ?? $input.first().json.response ?? '');\nlet p = null;\ntry {\n  const m = raw.match(/\\{[\\s\\S]*\\}/);\n  if (m) p = JSON.parse(m[0].replace(/[\\r\\n]+/g, '')); // Gemma coupe parfois les tokens par des retours a la ligne\n} catch (e) {}\n\n// 2) Matrices pilotables (miroir de pricing/matrices.js)\nconst MATRICES = {\n  devise: 'EUR',\n  grille_forfait: [\n    {max_km:30,prix:250},{max_km:40,prix:320},{max_km:50,prix:350},{max_km:60,prix:390},\n    {max_km:70,prix:430},{max_km:80,prix:500},{max_km:90,prix:540},{max_km:100,prix:580},\n    {max_km:110,prix:620},{max_km:120,prix:660},{max_km:130,prix:700},{max_km:140,prix:740},\n    {max_km:150,prix:780},{max_km:160,prix:820},{max_km:170,prix:860},{max_km:180,prix:900}\n  ],\n  longue_distance: { seuil_km:180, multiplicateur_distance:2, prix_km:2.5 },\n  saison_par_mois: {\n    1:{niveau:'basse',coef:-0.07},2:{niveau:'basse',coef:-0.07},8:{niveau:'basse',coef:-0.07},11:{niveau:'basse',coef:-0.07},\n    9:{niveau:'moyenne',coef:0},10:{niveau:'moyenne',coef:0},12:{niveau:'moyenne',coef:0},\n    3:{niveau:'haute',coef:0.10},4:{niveau:'haute',coef:0.10},7:{niveau:'haute',coef:0.10},\n    5:{niveau:'tres_haute',coef:0.15},6:{niveau:'tres_haute',coef:0.15}\n  },\n  pondation_date: [\n    {max_jours:6,code:'DD_PRIORITAIRE',coef:0.10},{max_jours:29,code:'DD_URGENT',coef:0.05},\n    {max_jours:89,code:'DD_NORMAL',coef:-0.05},{max_jours:100000,code:'DD_3MOISETPLUS',coef:-0.10}\n  ],\n  pondation_capacite: [\n    {max:19,coef:-0.05},{max:53,coef:0},{max:55,coef:0.15}\n  ],\n  seuil_escalade_passagers: 55,\n  options: { guide:80, nuit_chauffeur:120, peages:0 },\n  marge: 0.15, tva: 0.10\n};\nconst round2 = (x) => Math.round(Number((x*100).toFixed(4)))/100;\nconst diffJours = (a,b) => { const da=new Date(a+'T00:00:00Z'),db=new Date(b+'T00:00:00Z'); if(isNaN(da)||isNaN(db))return NaN; return Math.round((db-da)/86400000); };\nfunction normOpts(o){ if(!Array.isArray(o))return []; return o.map(x=> typeof x==='string'?{code:x,quantite:1}:{code:x.code,quantite:x.quantite!=null?x.quantite:1}); }\nfunction calculer_devis(params){\n  const M=MATRICES; const {nb_passagers,date_depart,date_demande,distance_km,aller_retour=false,options=[]}=params||{};\n  if(typeof nb_passagers!=='number'||nb_passagers<=0) return {erreur:true,champ:'nb_passagers'};\n  if(typeof distance_km!=='number'||distance_km<=0) return {erreur:true,champ:'distance_km'};\n  const anticip=diffJours(date_demande,date_depart);\n  if(isNaN(anticip)) return {erreur:true,champ:'date_depart'};\n  if(anticip<0) return {erreur:true,champ:'date_depart'};\n  if(nb_passagers>M.seuil_escalade_passagers) return {escalade:true,raison:'Volume de '+nb_passagers+' passagers > '+M.seuil_escalade_passagers+' : transfert a un commercial.'};\n  const lignes=[],coefficients=[];\n  let base;\n  if(distance_km<=M.longue_distance.seuil_km){ const pal=M.grille_forfait.find(x=>distance_km<=x.max_km); base=pal.prix; lignes.push({libelle:'Forfait transfert '+distance_km+' km',montant:base}); }\n  else { const ld=M.longue_distance; base=distance_km*ld.multiplicateur_distance*ld.prix_km; lignes.push({libelle:'Longue distance '+distance_km+' km',montant:round2(base)}); }\n  if(aller_retour){ base*=2; lignes.push({libelle:'Aller/retour (x2)',montant:round2(base/2)}); }\n  const mois=new Date(date_depart+'T00:00:00Z').getUTCMonth()+1;\n  const sa=M.saison_par_mois[mois]; coefficients.push({libelle:'Saison ('+sa.niveau+')',valeur:sa.coef});\n  const pd=M.pondation_date.find(x=>anticip<=x.max_jours); coefficients.push({libelle:'Anticipation '+anticip+' j ('+pd.code+')',valeur:pd.coef});\n  const pc=M.pondation_capacite.find(x=>nb_passagers<=x.max); coefficients.push({libelle:'Capacite '+nb_passagers+' pax',valeur:pc.coef});\n  const coef=1+sa.coef+pd.coef+pc.coef;\n  const transport=base*coef; lignes.push({libelle:'Coefficients (x'+round2(coef)+')',montant:round2(transport-base)});\n  let opt=0;\n  for(const o of normOpts(options)){\n    if(o.code==='guide'){const m=M.options.guide*o.quantite;opt+=m;lignes.push({libelle:'Guide ('+o.quantite+' j)',montant:m});}\n    else if(o.code==='nuit_chauffeur'){const m=M.options.nuit_chauffeur*o.quantite;opt+=m;lignes.push({libelle:'Nuit chauffeur ('+o.quantite+')',montant:m});}\n    else if(o.code==='peages'){opt+=M.options.peages;lignes.push({libelle:'Peages',montant:M.options.peages});}\n  }\n  const sous=transport+opt; const prix_ht=round2(sous*(1+M.marge));\n  lignes.push({libelle:'Marge +'+Math.round(M.marge*100)+'%',montant:round2(prix_ht-sous)});\n  const tva=round2(prix_ht*M.tva); const prix_ttc=round2(prix_ht+tva);\n  return {prix_ht,tva,prix_ttc,devise:M.devise,lignes,coefficients};\n}\n\n// 3) Calcule si les params requis sont presents (coercition robuste + debug)\nlet devis=null, escalade=null, debug=null;\nconst nb = Number(p && p.nb_passagers);\nconst dist = Number(p && p.distance_km);\nconst dateOk = p && typeof p.date_depart==='string' && /^\\d{4}-\\d{2}-\\d{2}/.test(p.date_depart);\nif(p && Number.isFinite(nb) && nb>0 && dateOk && Number.isFinite(dist) && dist>0){\n  // Filet de securite : si la date extraite est passee (mauvaise annee du LLM), prochaine occurrence future\n  let dd = p.date_depart.slice(0,10);\n  const today = new Date().toISOString().slice(0,10);\n  if(dd < today){\n    const parts = dd.split('-'); const y = new Date().getUTCFullYear();\n    let cand = y + '-' + parts[1] + '-' + parts[2];\n    if(cand < today) cand = (y+1) + '-' + parts[1] + '-' + parts[2];\n    dd = cand;\n  }\n  const r=calculer_devis({\n    nb_passagers:nb, date_depart:dd,\n    date_demande:today,\n    distance_km:dist, aller_retour:!!p.aller_retour,\n    options:Array.isArray(p.options)?p.options:[]\n  });\n  if(r.escalade){ escalade=r.raison; } else if(!r.erreur){ devis=r; } else { debug='calcul: champ '+(r.champ||'?'); }\n} else {\n  debug='params incomplets -> nb='+nb+', date='+(p&&p.date_depart)+', dist='+dist+', raw='+(raw.slice(0,200));\n}\n// 4) Reponse texte DETERMINISTE (genere ici => un seul appel LLM, l'extraction)\nlet clientEmail = \"\";\ntry { clientEmail = $('Webhook').item.json.body.clientEmail || \"\"; } catch (e) {}\nlet reply;\nif (escalade) {\n  // On reste DISCRET cote client : jamais la raison interne ni le seuil.\n  // La vraie raison (variable \"escalade\") part en base pour l'admin via /api/chat.\n  reply = clientEmail\n    ? \"Votre groupe necessite une etude personnalisee : un conseiller vous etablit un devis sur-mesure et vous recontacte sous 24 h. Merci !\"\n    : \"Votre groupe necessite une etude personnalisee par un conseiller. Laissez-moi votre email (et votre nom) pour qu'il vous recontacte sous 24 h.\";\n} else {\n  const manque = [];\n  if (!p || !p.depart) manque.push(\"la ville de départ\");\n  if (!p || !p.destination) manque.push(\"la destination\");\n  if (!p || !p.date_depart) manque.push(\"la date du voyage\");\n  if (!p || !(Number(p.nb_passagers) > 0)) manque.push(\"le nombre de passagers\");\n  if (manque.length) {\n    reply = \"Avec plaisir ! Pour vous établir un devis, pouvez-vous me préciser \" + manque.join(\", \") + \" ?\";\n  } else if (devis) {\n    const email = clientEmail || (p && p.email);\n    reply = email\n      ? \"Votre devis est prêt ! Je vous l'envoie à \" + email + \" — vous pouvez le consulter ci-dessous.\"\n      : \"Votre devis est prêt et s'affiche ci-dessous. Pour le recevoir, indiquez-moi votre email (et votre nom).\";\n  } else {\n    reply = \"Merci ! Pouvez-vous confirmer le trajet, la date et le nombre de passagers ?\";\n  }\n}\nreturn [{ json: { reply, devis, escalade, params: p, debug } }];"
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Calculer Devis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Calculer Devis').item.json }}",
        "options": {}
      },
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extraction params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraction params": {
      "main": [
        [
          {
            "node": "Calculer Devis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculer Devis": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini (extraction)": {
      "ai_languageModel": [
        [
          {
            "node": "Extraction params",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}